*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
CORPO:
Para o corpo ser divido na estutura inicial pedida no exercicio de 4 colunas e 4 linhas adicionamos os itens de GRID e Fracionados:
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
Adicionamos gap no container corpo para incluir uma margem entre os elementos que somado ao novo valor do padding temos a margem anterior.
Mesma funcionalidade porém mais facil para manutenção.
*/
.corpo{
    background-color: #444444;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

/*
CABECALHO:
Para o cabecalho ocupar as 4 colunas adicionamos o:
grid-column: span 4 (4 colunas)
*/
.cabecalho{
    background-color: #cc2a2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 4;
}

/*
LATERAL:
Para o cabecalho ocupar as 3 linhas adicionamos o:
grid-row: span 3 (3 linhas)
*/
.lateral{
    background-color: #45cc2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: span 3;
}

/*
MEIO:
Para o meio ocupar as 3 linhas adicionamos o:
grid-row: span 3 (3 linhas)
E ocupar as 3 colunas adicionamos o:
grid-column: span 3 (3 colunas)
*/
.meio{
    background-color: #2aa6cc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 2;
    grid-row: span 3;
}

.direita-cima{
    background-color: #352acc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
}

/*
direita-baixo:
Para o meio ocupar as 3 linhas adicionamos o:
grid-row: span 2 (2 linhas)
*/

.direita-baixo{
    background-color: #cc2a96;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: span 2;
}